html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidenav {
  width: 250px;
  height: 100%;
  display: flex;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;

  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(30, 32, 37);
}
.profile {
  
}
.profile h2 {
  color: white;
  padding: 20px 20px 20px 10px;
}
.sidenav_list {
  padding: 0;
  list-style-type: none;
}
.sidenav_list-item a {
  text-decoration: none;
  display: block;
  padding: 20px 20px 20px 10px;
  color: rgba(185, 185, 185, 0.9);
}
.sidenav_list-item a:hover {
  background-color: rgb(62, 65, 73, 0.75);
  color: rgba(255, 255, 255, 0.9);
}
.sidenav_list-item i {
  padding-right: 10px;
}

.grid-container {
  width: 100%;
  height: 100%;
  /* Same as the Sidenav */
  margin-left: 250px;
  display: grid;
  background-color: rgb(62, 65, 73, 0.75);
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: 'Open Sans', sans-serif;
}

.header {
  grid-area: header;
  background-color: rgb(42, 45, 53);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;

  box-sizing: border-box;
  padding: 5px 20px;
}
.searchbar {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  color: rgb(0, 0, 0);

  /* Align Search Bar text */
  box-sizing: border-box;
  align-items: center;
  padding: 0 10px;
}
.searchbar i {
  padding-right: 10px;
}

.main {
  grid-area: main;
  background-color: rgb(42, 45, 53);
}
.overview {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Where the magic happens */
  /* grid-auto-rows: 94px; */
  grid-gap: 15px;
  padding: 0 20px 20px 20px;
}
.overview_card {
  display: flex;
  border-radius: 15px;
  background-color: rgba(34, 31, 31, 0.75);

  height: 0;
  /* overflow: hidden; */
  padding-top: 100%;
  position: relative;
}
.overview_card-inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  grid-area: footer;
  background-color: rgb(42, 45, 53);
}