/**         Info and Notes
========================================
**TO-DO**
*Fix bug for the affiliation icons where the click zone is too big
  and add a zoom transition when hovered

========================================
**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	width: 100%;
  height: 100vh;
  
  /* Default Font */
  font-family: Arial, Helvetica, sans-serif;

  box-sizing: border-box;

  overflow-x: hidden;
}

/****************************************
                Utilities
****************************************/

/* Buttons
==================== */
button {
  outline: none !important;
}

/* Images
==================== */
.resize {
  width: 9em;
  height: auto;
}

/* Navigation
==================== */
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: .25rem;
}
.nav-link {
  font-size: 1.2em;
}

/* Containers
==================== */
.section-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  box-sizing: border-box;
}

/* parallax
==================== */
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/****************************************
                Content
****************************************/

/* intro
==================== */

#intro {
  width: 100%;
  height: 100%;
  background-image: url('./img/117-1177661_austin-texas-skyline.jpg');
}
#intro-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro-name h1 {
  color: white;
  font-size: 4em;
  margin: 5px;
}
#intro-name p {
  color: white;
  font-size: 1.2em;
  margin: 5px;
}

/* description
==================== */

#description {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;

  background-color: rgb(80, 80, 80);
  background-image: linear-gradient(
    to bottom right, 
    rgb(80, 80, 80), 
    rgb(0, 0, 0));
}
#description #portrait {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
#description #portrait img {
  border-radius: 50%;
}
#description-text {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  border: 2px solid white;
  /* Experimental Border with a Linear Gradient */
  /* border: 2px solid;
  border-image: linear-gradient(
    to bottom right, 
    rgb(100, 100, 100), 
    rgb(0, 0, 0));
  border-image-slice: 1; */

  padding: 20px;
  margin: 20px 20px 40px 20px;
  background-color: rgb(80, 80, 80);
}
#description-text p {
  color: white;
  font-size: 1.2em;
}

/* affiliations
==================== */

#affiliations {
  display: block;
  width: 100%;
  height: 75%;
  background-image: url('./img/apple-macbook-pro-touch-bar-15-inch-2017.jpg');

  text-align: center;
}
#affiliations h2 {
  display: flex;
  width: 100%;
  height: 20%;

  align-items: center;
  justify-content: center;

  color: white;
  font-size: 3em;
}

.gallery {
  width: 100%;
  height: 80%;
  display: flex;

  /* Evenly Distribute and Align items */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.gallery li {
  width: 25%;
  display: block;
  flex: 0 1 auto;

  text-align: center;
  list-style: none;
  color: white;
}
.gallery a {
  display: block;
}
.gallery span {
  color: white;
  font-size: 1.2em;
}
.gallery a img:not(#KAC):not(#ScienceNHS):not(#guitar) {
  border-radius: 50%;
}
.gallery a #guitar {width: 5em !important;}
.gallery a #KAC {width: 18em !important;}

/* footer
==================== */
#footer {
  display: flex;
  width: 100%;
  height: 5%;

  align-items: center;
  justify-content: center;

  background-color: rgb(80, 80, 80);
}
#footer p {
  color: white;
  font-size: 1em;
}